/* My Styles */

/* imported from codepen */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: #1abc9c;
    text-align: center;
    color: #666;
}

#pagewrap {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.gallery {
    width: 100%;
    margin: 0 auto;
    padding: 10vh 5vh;
    /* gap: 5rem; */
    display: flex;
    flex-wrap: wrap;
}

/* figure {
    background-color: #ecf0f1;
} */


figure {
    width: 28%;
    height: 100%;
    padding: 10px;
    margin: 2% 1.5%;
    flex-grow: 1;
    background-color: #ecf0f1;
}

figure p {
    font-size: 2em;
}

figure img {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

img:hover {
    box-shadow: 0 1px 30px rgba(0, 0, 0, .3);
    transform: scale(1.10);
    border: none;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    z-index: 1;
}

figcaption {
    padding: 10px;
    font-family: 'Bonny-Bold';
    font-size: 24px;
}